[submodule "oca/server-tools"]
	path = oca/server-tools
	url = https://github.com/oca/server-tools
	branch = 15.0
[submodule "oca/partner-contact"]
	path = oca/partner-contact
	url = https://github.com/oca/partner-contact
	branch = 15.0
[submodule "oca/l10n-netherlands"]
	path = oca/l10n-netherlands
	url = https://github.com/oca/l10n-netherlands
	branch = 15.0
